<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>AppCenar</h5>
                <p>Tu plataforma de delivery favorita</p>
            </div>
            <div class="col-md-6 text-end">
                <p>© 2024 AppCenar. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
