<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">AppCenar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/comercios">Comercios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos">Mis Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favoritos">Favoritos</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mi Cuenta
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                        <li><a class="dropdown-item" href="/direcciones">Mis Direcciones</a></li>
                        <li><a class="dropdown-item" href="/pedidos">Mis Pedidos</a></li>
                        <li><a class="dropdown-item" href="/favoritos">Favoritos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>    </div></nav>
