<div class="container mt-4">
    <h1>Mis Favoritos</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/food-default.jpg" class="card-img-top" alt="Comida">
                <div class="card-body">
                    <h5 class="card-title">Plato Favorito</h5>
                    <p class="card-text">Restaurante Ejemplo</p>
                    <button class="btn btn-danger">Quitar de favoritos</button>
                </div>
            </div>
        </div>
    </div>
</div>
